<head>
    
    <meta name="google-site-verification" content="UPh43WprYMwFMhWtEYEisImZU00H_nD4qt0CXigF3OQ" />
    
</head>


<style>
    
    body {
        
        background: url("http://www.valleyhealthcolumbus.com/wp-content/uploads/2015/08/blue-gradient-background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        
    }
    
    
</style>

<center>
    
    <img src = "/images/sblogo.png" width = 40%>
    
     <form action="/submitapp" method="post">
    <div style = "background-color:white; color:black; padding-left:3%;padding-right:3%;padding-top:1px;padding-bottom:10%;font-size:30px;border-radius:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        
        <p style = "color:#497DB6;font-size:60px;line-height: .3">
            
            Apply for Summer Bash 2018
            
        </p>
        <p style = "color:red;font-size:18px">Applying does not guarantee acceptance in the Tournament, we will contact you if you have been accepted!</p>
        
        <hr>
        
        <p style = "font-size:19px;line-height: 1">We've only got a few questions for you! Please ensure that gamertags are entered correctly</p>
        <br>
        <label style = "color:#497DB6;font-size:23px">What is your team name? </label><input name = "teamname" class = "frontbox" placeholder = "" required>
        <br>
        <label style = "color:#497DB6;font-size:23px">What is your Fortnite name? </label><input name = "p1name" class = "frontbox" placeholder = "" required>
        <br>
        <label style = "color:#497DB6;font-size:23px">What is your partner's Fortnite name? </label><input name = "p2name" class = "frontbox" placeholder = "" required>
        
        <br><br>
        <label style = "color:#497DB6;font-size:23px">What platform do you play on? </label><select name = "p1platform" class = "frontbox" required>
  <option value="pc">PC / Laptop</option>
  <option value="xb1">Xbox One</option>
  <option value="ps4">Playstation 4</option>
  <option value="ns">Nintendo Switch</option>
  <option value="mb">Mobile</option>
</select>
<br>
        <label style = "color:#497DB6;font-size:23px">What platform does your partner play on? </label><select name = "p2platform"  class = "frontbox" required>
  <option value="pc">PC / Laptop</option>
  <option value="xb1">Xbox One</option>
  <option value="ps4">Playstation 4</option>
  <option value="ns">Nintendo Switch</option>
  <option value="mb">Mobile</option>
</select>

<br><br>
        <label style = "color:#497DB6;font-size:23px">Are either you or your partner able to stream during the tournament? </label><select name = "canstream" class = "frontbox" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>

<br><br>
        <label style = "color:#497DB6;font-size:23px">Give us a valid email to contact you! </label><input name = "email" class = "frontbox" placeholder = "" required>

<br><br>

<label>Good Luck!!!</label>

<br><br>

<input type="image" src = "/images/button.png" border="0" alt="Submit" style = "width:20%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
        
    </div>
    </form>
    
    
</center>