<head>
    
    <meta name="google-site-verification" content="UPh43WprYMwFMhWtEYEisImZU00H_nD4qt0CXigF3OQ" />
    
</head>

<style>
    
    body {
        
        background: url("http://www.valleyhealthcolumbus.com/wp-content/uploads/2015/08/blue-gradient-background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        
    }
    
    
</style>

<center>
    
    <img src = "/images/sblogo.png" width = 40%>
    
     <form action="/submitapp" method="post">
    <div style = "background-color:white; color:#497DB6; padding-left:3%;padding-right:3%;padding-top:1px;padding-bottom:10%;font-size:30px;border-radius:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        
        <p style = "color:#497DB6;font-size:60px;line-height: .3">
            
            Application Received!
            
        </p>
        
        <p>And so the wait begins! We will stop receiving applications on August 11th. At that time we will review all of our applicants and choose the best 10 teams we can.</p>
        
        
        <p>We will contact you via email if you have made the cut or not. Our decision is based on a few factors including, but not limited to:</p>
        <ul style = "text-align:left">
            
            <li>Player Stats</li>
            <li>Console Selection</li>
            <li>Ability to Stream (This is required for the tournament, as we monitor every game through stream)</li>
            
        </ul>
        
        <p>We don't ask about age, race, or gender, because we don't want to discriminate against anyone being a part of this tournament! Down below are some questions you may have about the event.</p>
    
    <hr>
    <div style = "font-size:25px">
    <p>Q: How much does it cost and how much do I win?</p>
    <p>A: If you are accepted, the entrance cost is $15 per person. Entry fees are standard in Tournaments, and all of the money we receive is going to the winning pot, $300. The winning duo wins it, and splits it even; $150 each.</p>
    <br>
    <p>Q: Why do I have to stream during the tournament?</p>
    <p>A: We require at least one person per team to stream their games so that we can monitor gameplay and ensure no tactics are being used to cheat or get easy kills.</p>
   <br>
    <p>Q: Can my friend play on his console while I use my PC?</p>
    <p>A: Absolutely. We prefer to have at least one PC per team, but as long as we can watch a stream, you can use whatever platform you're comfortable on. Xbox and Playstation have their own streaming programs you can use, and we are very flexible making sure everyone can play and compete.</p>
   <br>
    <p>Q: How long is the event?</p>
    <p>A: A final schedule will be made a few days before the Tournament, but expect to be ready to play at 10 AM EST on game day, and be playing / waiting for your matches until 2-3 PM EST.</p>
   <br>
    <p>Q: How will the tournament be organized?</p>
    <p>A: We plan to have 5 teams play their games at a time, so we can monitor all the streams at once. So the first 5 will play their first game, we'll record stats, and the second group will play their first game afterwards. We'll follow this system until 4 games have been played by everyone, so that teams can take breaks in between games.</p>
   <br>
    <p>Q: When will the winner be announced?</p>
    <p>A: The winner will be announced on the evening of game day so that our team has time to watch footage and calculate final scores. Results will be announced on LiimbixTV's <a href = "https://twitch.tv/LiimbixTV">stream.</a> After the announcement, we will privately contact the winning team and issue the payout through PayPal.</p>
   </div>
    </div>
    </form>
    
    
</center>