<head><meta name="google-site-verification" content="UPh43WprYMwFMhWtEYEisImZU00H_nD4qt0CXigF3OQ" /></head>


<center>
    <img src = "/images/sblogo.png" width = 20% style = "">
    
    <br style = "line-height:200px">
    
    <img src = "/images/about.png" width = 40% style = "">
    
    <br style = "line-height:200px">
    
    <div style = "padding-bottom:60px"></div>
    
    <a href = "/apply"><img src = "/images/button.png" width = 20% style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></a>
    
</center>