<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="UPh43WprYMwFMhWtEYEisImZU00H_nD4qt0CXigF3OQ" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
